*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    margin-left: 4%;
}

.left-section{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container{
    width: 65%;
    height: 55%;
    font-size: 20px;
}

.text-img{
    margin: 2% 0%;
}

.button-group{
    margin-top: 25px;
}

.btn-primary{
    color: white;
    padding: 10px 20px;
    background-color: #050505;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

.btn-secondary {
    color: #333333;
    padding: 10px 20px;
    border: none;
    border: 1px solid #333333;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

.feature-box {
    display: flex;
    margin-top: 7%;
    width: 75%;
    padding: 2% 1%;
    border: 1px solid #111111;
    border-radius: 24px;
}

.feature-item{
    margin-right: 35px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.box-container {
    margin-top: 10%;
    margin-right: 10%;
    display: flex;
}

.image-box {
    width: 100%;
    height: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 24px;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 1;
}

.image-box img {
    width: 100%;
    height: 120%;
}

.multi-star{
    position: absolute;
    width: 20%;
    top: -5%;
    left: -10%;
}

.first-box {
    width: 380px;
    height: 368px;
    border: 2px solid black;
    border-radius: 24px;
    margin-right: 10%;
    position: relative;
}

.second-box {
    width: 70%;
    height: 80%;
    border: 2px solid black;
    border-radius: 24px;
    position: absolute;
    top: 50%;
    right: -30%;
}

.top-star {
    position: absolute;
    top: 18%;
    right: 31%;
    z-index: 2;
}

.bottom-star {
    position: absolute;
    top: 68%;
    right: 15%;
    z-index: 2;
}

.star {
    height: 50px;
}