* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* overflow-x: hidden; */
}

body {
    background: #ffffff;
    
}

.container{
    width: 85%;
    margin: 5% 0px 0px 5%;
}

.hero-h1{
    font-size: 34px;
    color: #000000;
}

h1{
    float: left;
}

.hero .text{
    width: 340px;
    float: left;
}

.text{
    margin-left: 30%;
}

.text p{
    line-height: 1.6;
    color: #333333;
    font-size: 18px;
}

.btn{
    background: #000000;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
    display: inline-block;
}

.container-image img{
    height: 470px;
    width: 105%;
}
