* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #ffffff;
}

.container{
    width: 80%;
    margin: auto;
}

h1{
    float: left;
}

.hero .text{
    width: 290px;
    float: left;
}

https: //github.com/Mfikry100/HW-20-pages/tree/main/HW002