*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,Helvetica,sans-serif;
}

body {
    background: #f0f0f0;
}

.Headline-box{
    font-size: 28px;
    font-weight: bold;
    width: 30%;
    margin: 1% 0% 2% 3%;
}

.content-box {
    margin-left: 3%;
    width: 95%;
}

.image-box img {
    width: 100%;
    height: 310px;
    object-fit: cover;
}

.steps {
    display: flex;
    gap: 5%;
}

.steps span{
    font-size: 18px;
    font-weight: bold;
    color: #888;
    display: block;
}

.steps p {
    font-size: 20px;
    color: #555;
}