* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #ffffff;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1440px;
    line-height: 50px;
}

.hero {
    text-align: left;
    padding: 4% 2%;
    float: left;
}

.hero-gallery {
    margin-left: 4%;
    float: left;
}

.hero-gallery 
.card 
img{
    width: 408px;
    height: 480px;
}

.hero-image-2 {
    margin-top: 40%;
}

.btn {
    display: inline-block;
    padding: 0px 40px;
    background: #111;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
}

.hero p {
    width: 250px;
    max-width: 100%;
    color: #666;
    line-height: 1.6;
    margin: 20px 0 40px 0;
}
.gallery {
    margin: 3%;
}
.card {
    width: 412px;
    height: 100%;
    margin: 0px 30px;
    padding-bottom: 3%;
    float: left;
}

.card p{
    margin: 5px;
    font-weight: 600;
    font-size: 24px;
    color: #25252540;
}

.card img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    display: block;
}

@media screen and (max-width: 1400px) {
    .card {
        width: 360px;
    }

    .hero-gallery {
        margin-left: 1%;
    }
}